{
    "presets": [
        "@babel/preset-react"
    ],
    "plugins": [
        ["wildcard",
            {
            "exts":
                [
                    "js",
                    "flac",
                    "mp3"
                ]
            }
        ]
    ]
}